@import "@picocss/pico";

.Header {
  padding: 1rem;

  .Logo {
    display: flex;
    margin: 0;

    &__img {
      width: 1.8rem;
      height: 1.8rem;
      margin-left: 1rem;
    }

    &__text,
    &__CallToAction {
      line-height: 1.8rem;
      font-weight: 700;
      margin-left: 10px;
      padding: 0;
      margin: 0;
    }

    &__text {
      font-size: 1.5rem;
    }

    &__CallToAction {
      font-size: 1rem;
    }
  }
}

.Main {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem; /* Adding 1rem spacing between columns */

  &__Artist,
  &__Event,
  &__Favorites {
    padding: 1rem;
    overflow: hidden;

    & > h3 {
      font-size: 1.2rem;
      line-height: 2.8rem;
      font-weight: 700;
      margin: 0;
      margin-bottom: var(--pico-spacing);
      text-align: center;

      // show in one line with dots if text is too long
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__Artist {
    .EventDetails {
      cursor: pointer;

      section,
      p {
        margin: 0;
      }
    }
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ArtistDetails {
  &_Content {
    @media (min-width: 800px) {
      display: flex;
      flex-direction: row;

      &_Media {
        max-width: 40%;
      }
    }

    &_Media {
      display: block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    &_Info {
      flex: 1;

      ul {
        padding: 0;
        margin: 0;
        display: flex;

        li {
          margin-bottom: 0.5rem;
          list-style: none;
          margin-right: 0.2rem;

          a {
            color: var(--pico-text-color);
            background-color: var(--pico-switch-background-color);
            line-height: 1rem;
            display: block;
            padding: 0.2rem 0.3rem 0.3rem 0.3rem;
            border-radius: var(--pico-spacing);
          }
        }
      }
    }
  }

  footer {
    text-align: right;
  }
}

.EventDetails {
  &--selected {
    background-color: var(--pico-switch-background-color);
    border: 1px solid var(--pico-border-color);

    footer {
      background-color: var(--pico-switch-background-color);
    }
  }

  ul {
    padding: 0 0 0 1rem;
    margin: 0 0 1rem 0;
  }

  &_Description {
    text-align: justify;
    display: inline-block;
  }

  footer {
    text-align: right;
  }
}

.SelectedEventButton {
  width: 100%;
  margin-bottom: 1rem;
}

.EventSummary {
  cursor: pointer;

  &--selected {
    background-color: var(--pico-switch-background-color);
    border: 1px solid var(--pico-border-color);

    header {
      background-color: var(--pico-switch-background-color);
      border: 1px solid var(--pico-border-color);
    }
  }

  ul {
    padding: 0 0 0 1rem;
    margin: 0;
  }

  &_Description {
    text-align: justify;
    display: inline-block;
    margin-top: 1rem;
  }
}

.ImagePreview {
  & > img {
    cursor: pointer;
  }

  &_Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
